# generated stuff
target/
generated/
test-output/
gwt-unitCache/

# eclipse generated
.settings
.project
.classpath

# intelliJ generated
.idea/
*.iml

# java & gwt compiler
*.class
.gwt

# errai
.errai

# other
*.bak
.springBeans
*.log
